.header{
     background-color: rgb(24, 0, 55);
     color: #fff;
     display: flex;
     height: 4rem;
     justify-content:space-between;
     align-items: center;
     padding: 0 2rem;
}
.itens{
     display: flex;
     list-style: none;
}

.itens li {
     margin: 0 0.8rem;
}

.itens li a {
     color: #fff;
     text-decoration: none;
     font-size: 1.2rem;
}

.itens li a:hover {
     color: rgb(177, 148, 203);
}


.imgcontainer{
     height: 3rem;
     width: 3rem;
}

.imgcontainer img {
     width: 100%;

}